@model List<Article>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <a href="/Article/CreateArticle/" class="btn btn-primary">Yeni Makale Girişi</a>
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Kategori</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ArticleId</td>
                <td>@item.Title</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    <a href="/Article/CommentArticle/@item.ArticleId" class="btn btn-success">Yorumlar</a>
                    <a href="/Article/UpdateArticle/@item.ArticleId" class="btn btn-warning">Güncelle</a>
                    <a href="/Article/DeleteArticle/@item.ArticleId" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </table>
</div>