@model List<Category>

<div class="mb-4">
    <h4>Kategoriler</h4>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">@item.CategoryName</li>
        }
    </ul>
</div>